<a href="https://colab.research.google.com/github/hykang0626/AIQquantStudy/blob/main/naverfinance1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##beautifulsoup 사용하여 크롤링하기

In [4]:
from bs4 import BeautifulSoup
import urllib.request as req

#네이버 금융 시장지표 url
url = "https://finance.naver.com/marketindex/"

#f12 
res=req.urlopen(url)
#달러환율
instance=BeautifulSoup(res,"html.parser")

exchange_rate=instance.select_one("#exchangeList > li.on > a.head.usd > div > span.value")

print(exchange_rate)

<span class="value">1,192.00</span>

In [5]:
import requests
import pandas as pd

res=requests.get('https://finance.naver.com/')
soup=BeautifulSoup(res.content,'html.parser')

popular_stock =soup.select('div.aside_area.aside_popular > table > tbody > tr')

popular_stock_list=[]

for data in popular_stock:
  stock_name=data.select_one('th > a').text
  tds=data.select('td')
  close_price=tds[0].text.replace(',','').strip()
  updown=tds[1].select_one('span').text.replace(',','').strip()
  popular_stock_list.append({'종목' : stock_name, '가격' : close_price, '등락' :updown})

df=pd.DataFrame(popular_stock_list)
df

         종목      가격     등락
0      삼성전자   78900      0
1       카카오   97200   2200
2  HDC현대산..   20850   4900
3      LG화학  773000  39000
4    한국조선해양  100500    600